{% macro render_progress_bar(articles) %}
    <div class="progress-bar-container">
        <div class="progress-bar">
            {% for article in articles %}
                {% set color = "rgb(240, 240, 248)" %}
                {% if article.progress == "partial" %}
                    {% set color = "#ffdf0f" %}
                {% elif article.progress == "full" %}
                    {% set color = "green" %}
                {% endif %}

                <a
                    href="{{ url_for('article_recommendations', article_id=article.uuid) }}"
                    class="progress-square"
                    title="Article: {{ article.title }}"
                    style="background-color: {{ color }};"
                >
                    <!-- Optionally display an index or keep it empty -->
                </a>
            {% endfor %}
        </div>
    </div>
{% endmacro %}